.App {
  text-align: center;
  background-image: "url('https://images.squarespace-cdn.com/content/v1/62137f96cd7d1b5e99b823e3/a19ee4c9-8937-46a2-a6b1-5440a98e1335/Home+Page+Photo.jpg')";
  background-size: "cover";
  background-position: "center";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
